{% extends "layouts/base.html" %}
{% block title %} Dashboard {% endblock %}

{% block content %}

{% from "includes/proposals.html" import proposals_table with context %}
<div class="body flex-grow-1 px-3">
  <div class="container-lg homepage">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}

      <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
        {{message}}
        <button class="btn-close" type="button" data-coreui-dismiss="alert" aria-label="Close"></button>
      </div>

      {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="callout callout-info bg-white">
      Firo is a decentralized community-driven project, and the funding system is a way for members to get involved and proposals to be funded.
      <br><br>
      To see how to submit your own proposal or idea, <a href="{{ url_for('bp_proposals.disclaimer') }}">click here</a>.
    </div>

    <div class="row homepage-cards">
      <div class="col-sm-6 col-lg-6">
        <a href="{{ url_for('bp_routes.ideas') }}">
          <div class="card mb-4">
            <img class="card-img-top" src="/static/idea.png" alt="">
            <div class="card-body">
              <h5 class="card-title">Ideas</h5>
              <p class="card-text">If you have an idea for a feature, task, or service, this is the place to pitch it for discussion.</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-6 col-lg-6">
        <a href="{{ url_for('bp_routes.funding') }}">
          <div class="card mb-4">
            <img class="card-img-top" src="{{ url_for('static', filename='funding.png') }}" alt="">
            <div class="card-body">
              <h5 class="card-title">Funding Required</h5>
              <p class="card-text">Once a pitched and approved idea has been picked up by a developer or team it goes here for community fundraising.</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-6 col-lg-6">
        <a href="{{ url_for('bp_routes.wip') }}">
          <div class="card mb-4">
            <img class="card-img-top" src="/static/wip.png" alt="">
            <div class="card-body">
              <h5 class="card-title">Work in Progress</h5>
              <p class="card-text">Approved ideas that have been picked up and successfully funded are moved here so their progress can be monitored.</p>

            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-6 col-lg-6">
        <a href="{{ url_for('bp_routes.completed') }}">
          <div class="card mb-4">
            <img class="card-img-top" src="/static/completed.png" alt="">
            <div class="card-body">
              <h5 class="card-title">Completed Tasks</h5>
              <p class="card-text">Once an item has been completed, all milestones met, and all funds paid out, the thread moves here.</p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <h4 class="mb-3 mt-4">Proposal overview</h4>
        {% if proposals %}
          {{ proposals_table(_proposals=proposals) }}
        {% else %}
          <div class="card">
            <div class="card-body">
              No proposals yet!
            </div>
          </div>
        {% endif %}
      </div>
    </div>

    <br>

  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
