{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="row">
          {% for message in messages %}
            <div class="alert alert-info mt-3" role="alert">
              {{message}}
            </div>
          {% endfor %}
          </div>
        {% endif %}
        {% endwith %}

        <div class="card-group d-block d-md-flex row">
          <div class="card col-md-7 p-4 mb-0">
            <div class="card-body">
              <form method="POST">
                <h1>Login</h1>
                <p class="text-medium-emphasis">Sign In to your account</p>
                <div class="input-group mb-3"><span class="input-group-text">
                    <svg class="icon">
                      <use xlink:href="/static/admin/vendors/@coreui/icons/svg/free.svg#cil-user"></use>
                    </svg></span>
                  <input class="form-control" name="username" type="text" placeholder="Username">
                </div>
                <div class="input-group mb-4"><span class="input-group-text">
                    <svg class="icon">
                      <use xlink:href="/static/admin/vendors/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
                    </svg></span>
                  <input class="form-control" name="password" type="password" placeholder="Password">
                </div>
                <div class="row">
                  <div class="col-6">
                    <button class="btn btn-dark px-4" type="submit">Login</button>
                  </div>
                  <div class="col-6 text-end">
                    <a href="{{ url_for('bp_auth.forgot') }}">
                      <button class="btn btn-link px-0" type="button">Forgot password?</button>
                    </a>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="card col-md-5 text-white bg-dark py-5">
            <div class="card-body text-center">
              <h2>Sign up</h2>
              <p>With an account you can create funding proposals yourself.</p>
              <a href="{{ url_for('bp_auth.register') }}">
                <button class="btn btn-lg btn-outline-light mt-3" type="button">Register Now!</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
